<% content_for :body_class, "login-bg" %>
<div class="center">
  <div class="centered-container">
    <h3 class="white">Log in to your account</h3>
    <%= form_for :session, url: login_path do |f| %>
      <%= f.text_field :email, placeholder: "Email", class: "form-input" %>
      <%= f.password_field :password, placeholder: "Password", class: "form-input" %>
      <%= f.submit "Login", class: "submit-input btn btn-success" %>
    <% end %>
    <h4 class="white">or</h4>
    <%= link_to new_user_path do %>
      <button style="width: 100%" class="btn btn-success">Create an Account</button>
    <% end %>
  </div>
</div>
