<% content_for :body_class, "dashboard-bg" %>
<div class="center">
  <div class="centered-container">
    <h3 class="white">All Event Types</h3>
    <ul class="list-group">
      <li class="list-group-item">
        <%= form_for [:admin, @type], {class: "form-inline"} do |f| %>
          <%= f.text_field :name, placeholder: "Event Type Name", class: "form-input" %>
          <%= f.hidden_field :category, value: "event" %>
          <%= f.submit "Add Event Type", class: "form-input btn btn-success" %>
        <% end %>
      </li>
      <% @types.each do |type| %>
        <li class="list-group-item" id="<%= type.id %>">
          <h4><%= type.name %></h4>
          <%= button_to "Delete", admin_type_path(type), class: "btn btn-danger", method: :delete %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
