<% content_for :body_class, "dashboard-bg" %>
<div class="center">
  <h1 class="white">Submit Art</h1>
  <h5 class="white">Reasons to upload that Mike will provide go here</h5>
  <%= form_for @artwork, html: {multipart: true} do |f| %>
    <%= f.text_field :title, placeholder: "Title", class: "form-input" %>
    <%= f.text_field :artist, placeholder: "Artist", class: "form-input" %>
    <input type="file" name="artwork[image]" class="filestyle form-input" data-classButton="btn btn-default" data-buttonText="Upload Image">
    <%= f.text_field :description, placeholder: "Description", class: "form-input" %>
    <%= f.text_field :address, placeholder: "Address", class: "form-input" %>
    <h4 class="white">by uploading an image, you affirm that you have permission to upload this image.</h4>
    <%= f.submit "Submit Artwork for Approval", class: "form-input btn btn-success" %>
  <% end %>
</div>
