<% content_for :body_class, "dashboard-bg" %>
<div class="aes-container aes-center">
  <div class="aes-format">
    <h1><%= @artwork.title %></h1>
  </div>
  <div class="aes-format">
    <h3>By <%= @artwork.artist %></h3>
  </div>
  <% if @artwork.image.file %>
    <div class="aes-format">
      <img src="<%= @artwork.image %>" alt="artwork image"/><br>
    </div>
  <% end %>
  <div class="aes-format">
    <%= @artwork.description %>
  </div>
  <div class="aes-format">
    <%= @artwork.address %>
  </div>
  <div class="aes-format">
    Posted At: <%= @artwork.formatted_update_time %>
  </div>
  <% if @artwork.deletable_by?(current_user) %>
    <div class="aes-format">
      <%= button_to "Delete", artwork_path(@artwork), class: "btn btn-danger", method: :delete %>
    </div>
  <% end %>
</div>
