 <% content_for :body_class, "dashboard-bg" %>
 <div class="center">
   <div class="centered-container">
     <h1 class="white">Update Your Account Info</h1>
     <%= form_for @user do |f| %>
      <%= f.label :first_name, class: "white" %>
      <%= f.text_field :first_name, placeholder: "First Name", class: "form-input" %>
      <%= f.label :last_name, class: "white" %>
      <%= f.text_field :last_name, placeholder: "Last Name", class: "form-input" %>
      <%= f.text_field :gender, placeholder: "Gender", class: "form-input" %>
      <%= f.text_field :race, placeholder: "Race/Ethnicity", class: "form-input form-control center-dropdown" %>
      <%= f.select :neighborhood, options_for_select(@neighborhoods, @user.neighborhood), {}, {class: "form-input form-control center-dropdown"} %>
      <%= f.select :organizations, @organizations, {include_blank: "Add an Organization"}, {class: "form-input form-control center-dropdown"} %>
      <%= f.select :how, options_for_select(["CTA Ads",
                                             "Online",
                                             "Billboards",
                                             "Fliers",
                                             "Neighborhood Meetings",
                                             "Word of Mouth"]), {include_blank: "How did you hear about Connected Chicago?"}, {class: "form-input form-control center-dropdown"} %>
      <%= f.label :why, "What motivated you to join Connected Chicago?", class: "white" %>
      <%= f.text_area :why, class: "form-input" %>
      <%= f.label :where, "What part of Chicago would you like to connect with?", class: "white" %>
      <%= f.text_area :where, class: "form-input" %><br>
      <%= f.submit "Update Account", class: "form-input btn btn-success" %>
    <% end %>
   </div>
</div>
