<% content_for :body_class, "dashboard-bg" %>
<div class="center">
  <div class="centered-container">
    <h4 class="white">Want to Connect with a Neighborhood, Community or Faith apart from your own? Create an Account and begin Connecting Chicago today.</h4>
    <%= form_for @user do |f| %>
      <%= f.text_field :email, placeholder: "Email", class: "form-input" %>
      <%= f.text_field :first_name, placeholder: "First Name", class: "form-input" %>
      <%= f.text_field :last_name, placeholder: "Last Name", class: "form-input" %>
      <%= f.password_field :password, placeholder: "Password", class: "form-input" %>
      <%= f.password_field :password_confirmation, placeholder: "Password Confirmation", class: "form-input" %>
      <%= f.select :neighborhood, @neighborhoods, {prompt: "Select Your Neighborhood"}, {class: "form-control center-dropdown form-input"} %>
      <%= f.select :organizations, @organizations, {prompt: "Choose an Organization (optional)"}, {class: "form-control center-dropdown form-input"} %>
      <%= f.submit "Create Account and start Connecting!", class: "submit-input btn btn-success" %>
    <% end %>
  </div>
</div>

