<div>
  <%= link_to "Submit Event", new_event_path %><br>
  <%= link_to "Submit Story", new_story_path %><br>
  <%= link_to "Submit Artwork", new_artwork_path %><br>

  <%= link_to "Update My Account", edit_user_path(@user) %><br>

  <h3>My Organizations</h3>
  <ul>
    <% current_user.organizations.each do |org| %>
      <li><%= org.name %></li>
    <% end %>
  </ul>

  <% if community_leader? %>
    <%= link_to "Pending Submissions", submissions_path %>
  <% end %>

  <% if admin? %>
    <%= link_to "Unowned Pending Submissions", admin_unowned_submissions_path %>
    <%= link_to "All Pending Submissions", admin_submissions_path %>
    <%= link_to "Add Community Leader", new_admin_user_path %>
  <% end %>
</div>
