<nav class="navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag("ACC-Horizontal-Logo.png", alt: "ACC logo", class: "navbar-brand"), root_path %>
    </div>

    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li>
          <%= link_to(image_tag("Twitter_Logo.svg", size: "25"), "https://twitter.com/@ConnectChiTown", target: :_blank) %>
        </li>
        <li>
          <%= link_to(image_tag("YouTube_logo.svg", width: "50", height: "auto"), "https://www.youtube.com/channel/UCEFd2_O_UXCm4d7NbK9L11Q", target: :_blank) %>
        </li>
        <li>
          <%= link_to(image_tag("Facebook_logo.svg", size: "25"), "https://www.youtube.com/watch?v=1eO5U_uN7DQ", target: :_blank) %>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to "Resources", resources_path %>
        </li>
        <li>
          <%= mail_to  "connectedchicago@gmail.com", "Contact Us" %>
        </li>
        <% if registered_user? || community_leader? || admin? %>
          <li>
            <%= link_to "Logout", logout_path, method: :delete %>
          </li>
          <li>
            <%= link_to "Dashboard", user_path(current_user) %>
          </li>
        <% else %>
          <li>
            <%= link_to "Login", login_path %>
          </li>
          <li>
            <%= link_to "Create Account", new_user_path %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
