<% if @submissions.empty? %>
  <p>You have no pending submissions</p>
<% else %>
  <form method="post" action"<%= path %>">
    <% @submissions.each do |submission| %>
    <div id="<%= submission.type %>-<%= submission.id %>">
      <%= link_to submission.title, submission.path %>
      <label><input type="radio" name="<%= submission.pkey %>" value="approved">Approve</label>
      <label><input type="radio" name="<%= submission.pkey %>" value="denied">Reject</label>
      <input type="hidden" name="pkeys[]" value="<%= submission.pkey %>">
    </div>
    <% end %>
    <input type="hidden" name="_method" value="put">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="submit" value="Approve/Reject Submissions">
  </form>
<% end %>
