<% content_for :body_class, "dashboard-bg" %>
<div class="resources-center">
  <div class="resources-container">
    <div class="left-container">
      <ul><h4><strong>Our Mission is to Restore Human Connection in the City of Chicago through:
          <li>Storytelling</li>
          <li>Peace Circles</li>
          <li>Art</li>
          <li>Community Relationship Building</li></strong></h4></ul>
      <div class="iframe">
        <iframe src="https://www.youtube.com/embed/bXAdFETvL8M" allowfullscreen></iframe>
      </div>
      <h4><strong>The Problem</strong></h4>
      <p>Unequal distribution of wealth, justice, safety, stability, and opportunity in Chicago. Unresolved racial tensions and segregation from past and present discriminatory practices. We still have a lot of healing to do.</p>
      <h4><strong>The Underlying Cause</strong></h4>
      <p>In a city as densely populated as Chicago, we have somehow managed to create a false sense of distance and separation from one another.
      “If we have no peace, it is because we have forgotten that we belong to each other.”
      <em>- Mother Theresa</em></p>
      <h4><strong>The Solution</strong></h4>
      <p>We restore a sense of human connection through storytelling, peace circles, relationship building. We cross boundaries and barriers, talking to people who seem dissimilar to us. <i>CONNECTED CHICAGO</i> offers a chance for reconciliation to those who have been harmed by institutional systems.</p>
      <p><em><strong>Send us feedback, comments, or questions: <%= mail_to  "connectedchicago@gmail.com", "connectedchicago@gmail.com" %></strong></em></p>
      <br>
    </div>
    <h2>Connected Chicago Partner Organizations</h2>
      <h3><a href="http://www.pbmr.org/" target="_blank">Precious Blood Ministry of Reconciliation</a></h3>
        <a href="http://www.pbmr.org/" target="_blank"><%= image_tag "precious_blood_ministries.png", height: "auto", width: 300 %></a>
        <h5>The PBMR is a network of reconciliation ministries inspired by a spirituality of the Precious Blood. Motivated by the belief that "those who were once far off have been brought near through the blood of Christ" (Eph. 2:13), we work as agents of reconciliation.</h5>
        <h5>Address: 5114 S Elizabeth St, Chicago, IL 60609</h5>
      <br>
      <h3><a href="http://www.urbanlifeskills.org/" target="_blank">Urban Life Skills</a></h3>
        <a href="http://www.urbanlifeskills.org/" target="_blank"><%= image_tag "urban_life_skills.png", height: "auto", width: 300 %></a>
        <h5>The Urban Life Skills Program is an intensive Gang Intervention Program in the Little Village Community on Chicago’s Southwest Side. For the past two years, the program has worked with over 75 gang involved youth that are wards of the Cook County Juvenile Court. The program is closely partnered with the Cook County Juvenile Probation Department and has seen many successes.</h5>
        <h5>Address: 2657 S Lawndale Ave, Chicago, IL 60623</h5>
      <br>
      <h3><a href="http://lclc.net/" target="_blank">Lawndale Christian Legal Center</a></h3>
        <a href="http://lclc.net/" target="_blank"><%= image_tag "lawndale_christian_legal_center.png", height: "auto", width: 300 %></a>
        <h5>We walk youth through — and away from — the criminal justice system to become good citizens and leaders of the community. We offer zealous and competent criminal defense legal services, compassionate social health services, and faithful loving mentors who walk with our youth on their life’s path. We serve youth involved with the criminal justice system, age 24 and younger, in North Lawndale.</h5>
        <h5>Address: 1530 S Hamlin Ave, Chicago, IL 60623</h5>
      <br>
      <h3><a href="http://cjyiorg.publishpath.com/" target="_blank">Community Justice for Youth Institute</a></h3>
        <a href="http://cjyiorg.publishpath.com/" target="_blank"><%= image_tag "community_justice_for_youth_institute.png", height: "auto", width: 300 %></a>
        <h5>The Community Justice for Youth Institute is working with several community and faith-based organizations to promote the healthy development of youth on probation and safe re-entry of youth diverted from the Juvenile Temporary Detention Center (JTDC). Working in collaboration with Precious Blood Ministry of Reconciliation, the Southwest Youth Collaboration and FLY (Fearless Leading by the Youth), our goal is to support the development of RJ Hubs throughout Chicago.</h5>
        <h5>Address: 2929 S Wabash Ave #203, Chicago, IL 60616</h5>
      <br>
      <h3><a href="http://www.adler.edu/page/institutes/institute-on-public-safety-and-social-justice/about" target="_blank">Institute on Public Safety and Social Justice at Adler University</a></h3>
        <a href="http://www.adler.edu/page/institutes/institute-on-public-safety-and-social-justice/about" target="_blank"><%= image_tag "adler_university.png", height: "auto", width: 300 %></a>
        <h5>Adler University pursues social change through service to communities, especially to disenfranchised and marginalized populations, and through the Centers and Institutes for Social Change. The University differs from traditional education to prepare practitioners imbued with social responsibility, and we build new models for engaging communities in social change. We do this by addressing the wider systemic and structural issues that underlie poor health and that make traditional service necessary in the first place. We have innovated our education and training to prepare practitioners as highly skilled advocates.</h5>
        <h5>Address: 17 N Dearborn St, Chicago, IL 60602</h5>
      <br>
      <h3><a href="http://www.ucrogerspark.org/childrenyouthprograms/circlesciphers.html" target="_blank">Circles and Ciphers</a></h3>
        <a href="http://www.ucrogerspark.org/childrenyouthprograms/circlesciphers.html" target="_blank"><%= image_tag "circles_and_cyphers.png", height: "auto", width: 300 %></a>
        <h5>Circles and Ciphers builds and mobilizes a healthy, youth-led community among prisons, court-s, and gangs involved young men (predominantly African-American, ages 14-22) from Chicago. We use hip-hop infused peacemaking circles and creative arts projects on a wide variety of themes, including: masculinity; violence; school; gangs and gang histories; stereotypes; policing; relationships. Participants are empowered to derail a legacy of disengagement.</h5>
        <h5>Address: 1545 W Morse Ave, Chicago, IL 60626</h5>
      <br>
      <h3><a href="http://austincomingtogether.org/" target="_blank">Austin Coming Together</a></h3>
        <a href="http://austincomingtogether.org/" target="_blank"><%= image_tag "austin_coming_together.png", height: "auto", width: 300 %></a>
        <h5>Welcome to Austin Coming Together! ACT's work is driven by shared leadership, a commitment to the use of data and rigorous research; and a commitment to creative, strategic thinking. We are committed to ProACTive community building and increasing collective impact in the Austin community of Chicago.</h5>
        <h5>Address: 5049 W Harrison St, Chicago, IL 60644</h5>
      <br>
      <h3><a href="http://targetarea.org/" target="_blank">Target Area Development Corporation</a></h3>
        <a href="http://targetarea.org/" target="_blank"><%= image_tag "target_area_development.png", height: "auto", width: 300 %></a>
        <h5>TARGET Area Development Corporation is a regional grassroots social justice organization with offices in Illinois, Indiana, Michigan, and South Africa building power in communities to solve stubborn problems using Research, Organizing, Mobilization, and Education (ROME).</h5>
        <h5>Address: 1542 W 79th St, Chicago, IL 60620</h5>
      <br>
      <h3><a href="http://also-chicago.org/also_site/" target="_blank">Alliance of Local Service Organizations (ALSO)</a></h3>
        <a href="http://also-chicago.org/also_site/" target="_blank"><%= image_tag "also_logo.png", height: "auto", width: 300 %></a>
        <h5>Our mission at ALSO is to end violence in the homes and streets of communites nationwide. It was created to coordinate services for youth and families in the Logan Square community on Chicago’s Northwest Side.</h5>
        <h5>2401 West North Avenue, Chicago, IL 60647</h5>
  </div>
</div>
