<% unless current_user %>
  <span> <%= link_to "Login", login_path %> or <%= link_to "Create Account", new_user_path %></span><br><br>
<% end %>

<span><%= link_to "Events" %> <%= link_to "Stories" %> <%= link_to "Artwork" %></span>
