<% unless current_user %>
  <div id="modal-container">
    <div id="modal">
      <h3>Welcome to</h3>
      <%= image_tag "ACC-Horizontal-Logo_wht.png", height: "auto", width: "100%" %>
      <br>
      <br>
      <h4 id="mission">Our Mission is to Restore Human Connection in the City of Chicago through Storytelling, Peace Circles, Art and Community Relationship Building.</p>
        <br>
      <h5><i>Click or Tap Anywhere to Start Connecting</i></p>
    </div>
  </div>
<% end %>
<div id="info-backdrop">
  <div id="homepage-controls">

    <div class="btn-group-vertical" role="group" aria-label="Justified button group" style="width: 100%">
      <div class="btn-group" role="group">
        <select class="form-control center-dropdown" id="hood-select" name="neighborhood_select">
          <option disabled selected>Select a neighborhood</option>
          <option>All Neighborhoods</option>
          <%= @neighborhoods.each do |name| %>
            <% if @role && @role > 0 && current_user.neighborhood.name == name %>
              <option selected="selected"><%= name %></option>
            <% else %>
              <option><%= name %></option>
            <% end %>
          <% end %>
        </select>
      </div>
      <span id='texttest'></span>

      <div class="btn-group" role="group">
        <select class="form-control center-dropdown" id="org-select" name="organization_type_select">
          <option disabled selected>Organizations</option>
          <option>All</option>
          <%= @organization_types.each do |type| %>
            <option><%= type %></option>
          <% end %>
        </select>
      </div>
      <span id='texttest'></span>

      <div class="btn-group" role="group">
        <button type="button" id="btn-peace-circles" class="btn btn-default">Peace Circles</button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" id="btn-events" class="btn btn-default">Events</button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" id="btn-stories" class="btn btn-default">Stories</button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" id="btn-artwork" class="btn btn-default">Artwork</button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" id="btn-all" class="btn btn-all">All</button>
      </div>
    </div>
  </div>
  <div id="neighborhood">
    <div id="instructions">
      <h3 class="text-center">How to Use Website</h3>
      <ol>
        <li>Select a Neighborhood in Chicago</li>
        <li>Choose the <span class="art-text">Art</span>, <span class="events-text">Events</span>, <span class="peace-circles-text">Peace Circles</span>, <span class="stories-text">Stories</span>, or <span class="orgs-text">Organizations</span> tabs to see those elements within that neighborhood</li>
        <li>Create your <strong><i>Connected Chicago</i></strong> account and Share your own Restorative Justice Events, Stories, and Artwork with the city of Chicago</li>
      </ol>
    </div>
    <div id="artwork-listings"></div>
    <div id="event-listings">
    </div>
    <div id="peace-circle-listings">
    </div>
    <div id="story-listings"></div>
    <div id="org-listings">
    </div>
    <div id="none-to-show">
    </div>
  </div>
</div>
<div id="map"></div>
<script async defer src="//maps.google.com/maps/api/js?key=<%= ENV['google_maps_secret'] %>&callback=createMap"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
