<br>
<br>
<br>
<br>
<h1 style="text-align: center">Resources</h1><br><br>

<h3>Restorative Justice Explained</h3>

<ol>
  <li>Short Videos Explaining Restorative Justice</li>
  <ul>
    <li>
      <a href="http://www.bravenewfilms.org/restorativejustice?utm_campaign=restorative_jus&utm_medium=email&utm_source=bravenew">Restorative Justice Series</a> by Brave New Films
    </li>
    <li>
      <a href="https://www.youtube.com/watch?v=sE8TDzlR2tg">What is restorative justice?</a> by SFU Center
    </li>
  </ul>
  <li>News Articles on Restorative Justice</li>
  <ul>
    <li>
      <a href="http://www.livingjusticepress.org/index.asp?Type=B_PR&SEC={BC01F9DF-06C5-498E-B487-8BC3BD5B31FA}">Living Justice Press List</a>
    </li>
    <li>
      <a href="http://restorativejustice.org/rj-library/">RestorativeJustice.Org Library</a>
    </li>
  </ul>
  <li>
    <a href="http://www.livingjusticepress.org/index.asp?Type=B_BASIC&SEC={263A1422-2DA8-4687-B485-36539DE96208}">Websites on Restorative Justice</a>
  </li>
  <li>Taking Action FAQ</li>
  <ul>
    <li>
      How do I <a href="http://restorativejustice.org/restorative-justice/starting-a-restorative-justice-program/">start a Restorative Justice Program</a> in my Organization or Community
    </li>
    <li>
      What is a Restorative Justice <a href="https://rjhubs.org/rj-hubs-faq/">Restorative Justice (RJ) Hub</a>?
    </li>
    <li>
      How do I <a href="https://rjhubs.org/">become a Restorative Justice (RJ) Hub in Chicago</a>?
    </li>
  </ul>
</ol><br><br>

<h3>Peace Circle Process Resources</h3>

<ol>
  <li>Short Videos Explaining Peace Circles</li>
  <ul>
    <li>
      <a href="https://www.youtube.com/watch?v=L6stLLU5VTA">Peace Making Circles Explained</a> by Precious Blood Ministries
    </li>
    <li>
      <a href="https://www.youtube.com/watch?v=HiLtFVHR8Q0">Restorative Welcome and Re-Entry Circle</a> by OUSD News
    </li>
  </ul>
  <li>
    <a href="http://www.livingjusticepress.org/index.asp?Type=B_BASIC&SEC={B158346E-2E21-48C6-94DC-A71301BE3D0F}">Graphics and Handouts Explaining the Peace Circle Process</a> by Living Justice Press
  </li>
  <li>
    <a href="http://www.livingjusticepress.org/index.asp?Type=B_BASIC&SEC={14F1026E-8206-43BF-92BA-F15904243F17}">Books, DVD’s and more Online Videos on Peace Circles</a>
  </li>
  <li>Contact Info</li>
  <ul>
    <li>
      Peace Circle Practitioners in <a href="http://www.livingjusticepress.org/index.asp?Type=B_BASIC&SEC={F794FCCB-6A64-4BB3-8F40-2971988004C1}&DE={613FE260-B5D2-44B4-A714-35DA1C1C8F28}">Chicago and Illinois</a>
    </li>
    <li>
      Peace Circle Practitioners around the <a href="http://www.livingjusticepress.org/index.asp?Type=B_BASIC&SEC={F794FCCB-6A64-4BB3-8F40-2971988004C1}">United States</a>
    </li>
  </ul>
</ol><br><br>

<h3>Connected Chicago Partner Organizations</h3>
<ol>
  <li><a href="http://www.pbmr.org/">Precious Blood Ministry of Reconciliation</a></li>
  <ul>
    <%= image_tag "precious_blood_ministries.png", height: "auto", width: 300 %>
    <li>
      <p>
        The PBMR is a network of reconciliation ministries inspired by a spirituality of the Precious Blood. Motivated by the belief that "those who were once far off have been brought near through the blood of Christ" (Eph. 2:13), we work as agents of reconciliation.
      </p>
    </li>
    <li>Address: 5114 S Elizabeth St, Chicago, IL 60609</li>
  </ul>
  <li><a href="http://www.urbanlifeskills.org/">Urban Life Skills</a></li>
  <ul>
    <%= image_tag "urban_life_skills.png", height: "auto", width: 300 %>
    <li>
      <p>
      The Urban Life Skills Program is an intensive Gang Intervention Program in the Little Village Community on Chicago’s Southwest Side. For the past two years, the program has worked with over 75 gang involved youth that are wards of the Cook County Juvenile Court. The program is closely partnered with the Cook County Juvenile Probation Department and has seen many successes.
      </p>
    </li>
    <li>Address: 2657 S Lawndale Ave, Chicago, IL 60623</li>
  </ul>
  <li><a href="http://lclc.net/">Lawndale Christian Legal Center</a></li>
  <ul>
    <%= image_tag "lawndale_christian_legal_center.png", height: "auto", width: 300 %>
    <li>
      <p>
        We walk youth through — and away from — the criminal justice system to become good citizens and leaders of the community. We offer zealous and competent criminal defense legal services, compassionate social health services, and faithful loving mentors who walk with our youth on their life’s path. We serve youth involved with the criminal justice system, age 24 and younger, in North Lawndale.
      </p>
    </li>
    <li>Address: 1530 S Hamlin Ave, Chicago, IL 60623</li>
  </ul>
  <li>
    <a href="http://cjyiorg.publishpath.com/">Community Justice for Youth Institute</a>
  </li>
  <ul>
    <%= image_tag "community_justice_for_youth_institute.png", height: "auto", width: 300 %>
    <li>
      <p>
        The Community Justice for Youth Institute is working with several community and faith-based organizations to promote the healthy development of youth on probation and safe re-entry of youth diverted from the Juvenile Temporary Detention Center (JTDC). Working in collaboration with Precious Blood Ministry of Reconciliation, the Southwest Youth Collaboration and FLY (Fearless Leading by the Youth), our goal is to support the development of RJ Hubs throughout Chicago.
      </p>
    </li>
    <li>Address: 2929 S Wabash Ave #203, Chicago, IL 60616</li>
  </ul>
  <li>
    <a href="http://www.adler.edu/page/institutes/institute-on-public-safety-and-social-justice/about">Institute on Public Safety and Social Justice at Adler University</a>
  </li>
  <ul>
    <%= image_tag "adler_university.png", height: "auto", width: 300 %>
    <li>
      <p>
        Adler University pursues social change through service to communities, especially to disenfranchised and marginalized populations, and through the Centers and Institutes for Social Change. The University differs from traditional education to prepare practitioners imbued with social responsibility, and we build new models for engaging communities in social change. We do this by addressing the wider systemic and structural issues that underlie poor health and that make traditional service necessary in the first place. We have innovated our education and training to prepare practitioners as highly skilled advocates.
      </p>
    </li>
    <li>Address: 17 N Dearborn St, Chicago, IL 60602</li>
  </ul>
  <li>
    <a href="http://www.ucrogerspark.org/childrenyouthprograms/circlesciphers.html">Circles and Ciphers</a>
  </li>
  <ul>
    <%= image_tag "circles_and_cypher.png", height: "auto", width: 300 %>
    <li>
      <p>
        Circles and Ciphers builds and mobilizes a healthy, youth-led community among prisons, court-s, and gangs involved young men (predominantly African-American, ages 14-22) from Chicago. We use hip-hop infused peacemaking circles and creative arts projects on a wide variety of themes, including: masculinity; violence; school; gangs and gang histories; stereotypes; policing; relationships. Participants are empowered to derail a legacy of disengagement.
      </p>
    </li>
    <li>Address: 1545 W Morse Ave, Chicago, IL 60626</li>
  </ul>
  <li>
    <a href="http://austincomingtogether.org/">Austin Coming Together</a>
  </li>
  <ul>
    <%= image_tag "austin_coming_together.png", height: "auto", width: 300 %>
    <li>
      <p>
        Welcome to Austin Coming Together! ACT's work is driven by shared leadership, a commitment to the use of data and rigorous research; and a commitment to creative, strategic thinking. We are committed to ProACTive community building and increasing collective impact in the Austin community of Chicago.
      </p>
    </li>
    <li>Address: 5049 W Harrison St, Chicago, IL 60644</li>
  </ul>
  <li>
    <a href="http://targetarea.org/">Target Area Development Corporation</a>
  </li>
  <ul>
    <%= image_tag "target_area_development.png", height: "auto", width: 300 %>
    <li>
      <p>
        TARGET Area Development Corporation is a regional grassroots social justice organization with offices in Illinois, Indiana, Michigan, and South Africa building power in communities to solve stubborn problems using Research, Organizing, Mobilization, and Education (ROME).
      </p>
    </li>
    <li>Address: 1542 W 79th St, Chicago, IL 60620</li>
  </ul>
</ol>
