<% content_for :body_class, "event-bg" %>
<div class="aes-center">
  <div id="left-arrow"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true" data-neighborhood="<%= @event.neighborhood.name if @event.neighborhood %>" data-type="events"></span></div>
  <div class="aes-container">
    <div class="centered-container">
      <div class="aes-format">
        <h1 id="title"><%= @event.title %></h1>
      </div>
          <div class="aes-format" id="image">
            <%= link_to image_tag(@event.image) if @event.image.file %>
          </div>
      <div class="aes-format">
        <% if @event.organization.website %>
          <h4 id="organization">Hosted By <%= link_to @event.organization.name, @event.organization.website, target: :_blank %></h4>
        <% else %>
          <h4 id="organization">Hosted By <%= @event.organization.name %></h4>
        <% end %>
      </div>
      <div class="aes-format">
        <h5 id="formatted-date-time"><%= @event.formatted_date_time %></h5>
      </div>
      <div class="aes-format" id="mail-to">
        <%= mail_to @event.host_contact, "Contact for more information" %>
      </div>
      <div class="aes-format" id="address">
        <%= @event.address %>
      </div>
      <div class="aes-format" id="type">
        <%= @event.type.name %>
      </div>
      <div class="aes-format" id="description">
        <%= @event.description %>
      </div>
        <div class="aes-format" id="link">
          <%= link_to "View Event Page", @event.link, target: :_blank if @event.link %>
        </div>
        <div class="aes-format" id="delete">
          <%= button_to "Delete", event_path(@event), class: "btn btn-danger", method: :delete if @event.deletable_by?(current_user) %>
        </div>
    </div>
  </div>
  <div class="event" id="right-arrow">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true" data-neighborhood="<%= @event.neighborhood.name if @event.neighborhood %>" data-type="events"></span>
  </div>
</div>
