<% content_for :body_class, "dashboard-bg" %>
<div class="aes-container aes-center">
  <div class="aes-format">
    <h1><%= @event.title %></h1>
  </div>
    <% if @event.image.file %>
      <div class="aes-format">
        <img src="<%= @event.image %>" alt="event image"/><br>
      </div>
    <% end %>
  <div class="aes-format">
    <h4> Hosted By <%= link_to @event.organization.name, @event.organization.website %></h4>
  </div>
  <div class="aes-format">
    <h5><%= @event.formatted_date_time %></h5>
  </div>
  <div class="aes-format">
    <%= mail_to @event.host_contact, "Contact for more information" %>
  </div>
  <div class="aes-format">
    <%= @event.address %>
  </div>
  <div class="aes-format">
    <%= @event.event_type %>
  </div>
  <div class="aes-format">
    <%= @event.description %>
  </div>
</div>
