<% content_for :body_class, "dashboard-bg" %>
<div class="aes-container aes-center">
  <div class="aes-format">
    <h1><%= @story.title %></h1>
  </div>
  <div class="aes-format">
    <h3>By: <%= @story.author %></h3>
  </div>
  <% if @story.youtube_link %>
    <div class="aes-format">
      <div class="iframe">
        <iframe src="<%= @story.youtube_link %>"></iframe>
      </div>
    </div>
    <% end %>
  <div class="aes-format">
    <%= @story.description %>
  </div>
  <div class="aes-format">
    <%= @story.body %>
  </div>
  <div class="aes-format">
    Posted At: <%= @story.formatted_update_time %>
  </div>
</div>
