<% content_for :body_class, "story-bg" %>
<div class="aes-container aes-center">
  <div class="centered-container">
      <h1><%= @story.title %></h1>
      <h3>By: <%= @story.author %></h3>
    <% if @story.youtube_link %>
      <div class="aes-format">
        <div class="iframe">
          <iframe src="<%= @story.youtube_link %>"></iframe>
        </div>
      </div>
      <% end %>
    <div class="aes-format">
      <%= @story.description %>
    </div>
    <div class="aes-format">
      <%= @story.body %>
    </div>
    <div class="aes-format">
      Posted At: <%= @story.formatted_update_time %>
    </div>
    <% if @story.deletable_by?(current_user) %>
      <div class="aes-format">
        <%= button_to "Delete", story_path(@story), class: "btn btn-danger", method: :delete %>
      </div>
    <% end %>
  </div>
</div>
