<% content_for :body_class, "dashboard-bg" %>
<div class="center">
  <div class="centered-container">
    <ul class="list-group">
      <%= form_for [:admin, @organization], {class: "form-inline"} do |f| %>
        <li class="list-group-item"><h3><%= @organization.name %> - Edit Organization</h3>
          <%= f.text_field :name, class: "form-input" %>
          <%= f.label :name %>
          <%= f.text_field :website, placeholder: "Organization Website", class: "form-input" %>
          <%= f.label :website %>
          <%= f.text_area :description, placeholder: "Organization Description", class: "form-input" %>
          <%= f.label :description %>
          <%= f.select :type_id, (@types.map { |type| [type.name, type.id] }), {prompt: "Organization Type"}, {class: "form-input form-control center-dropdown"} %>
          <%= f.submit "Update Organization", class: "submit-input btn btn-success" %>
        </li>
        <li class="list-group-item">
          <h3>Add New Location</h3>
          <%= f.fields_for :locations, @location do |ff| %>
            <%= ff.text_field :address, placeholder: "New Address", class: "form-input" %>
          <% end %>
          <%= f.submit "Add New Location", class: "submit-input btn btn-success" %></li>
        </li>
        <li class="list-group-item" id="current-locations">
          <h3>Current Locations</h3>
          <table class="table">
            <thead>
              <tr>
                <th>Location</th>
                <th>Neighborhood</th>
                <th>Delete?</th>
              </tr>
            </thead>
            <tbody>
              <%= f.fields_for :locations do |ff| %>
                <tr>
                  <% if ff.object.persisted? %>
                    <td><%= ff.label :_destroy, ff.object.address %></td>
                    <td><%= ff.label :_destroy, ff.object.neighborhood.name %></td>
                    <td><%= ff.check_box :_destroy %></td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
          <%= f.submit "Delete Selected Locations", class: "submit-input btn btn-danger" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
