<% content_for :body_class, "dashboard-bg" %>
<div class="center">
  <div class="centered-container">
    <h3 class="white">All Organizations</h3>
    <ul class="list-group">
      <li class="list-group-item">
        <%= form_for [:admin, @organization], {class: "form-inline"} do |f| %>
          <%= f.text_field :name, placeholder: "Organization Name", class: "form-input" %>
          <%= f.text_field :name, placeholder: "Organization Website", class: "form-input" %>
          <%= f.text_field :name, placeholder: "Organization Description", class: "form-input" %>
          <%= f.select :type, @types, {prompt: "Organization Type"}, {class: "form-input form-control center-dropdown"} %>
          <%= f.submit "Add Event Type", class: "form-input btn btn-success" %>
        <% end %>
      </li>
      <% @types.each do |type| %>
        <li class="list-group-item" id="<%= type.id %>">
          <h4><%= type.name %></h4>
          <%= button_to "Delete Event Type", admin_type_path(type), class: "btn btn-danger", method: :delete %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
