<% content_for :body_class, "dashboard-bg" %>
<div class="resources-center">
  <div class="resources-container">
    <h3>All Organizations</h3>
    <ul class="list-group">
      <li class="list-group-item">
        <h3>Create An Organization</h3>
        <%= form_for [:admin, @organization], {class: "form-inline"} do |f| %>
          <%= f.text_field :name, placeholder: "Organization Name", class: "form-input" %>
          <%= f.text_field :website, placeholder: "Organization Website", class: "form-input" %>
          <%= f.text_area :description, placeholder: "Organization Description", class: "form-input" %>
          <%= f.fields_for :locations do |ff| %>
            <%= ff.text_field :address, placeholder: "Organization Location", class: "form-input" %>
            <% end %>
          <%= f.select :type_id, (@types.map { |type| [type.name, type.id] }), {prompt: "Organization Type"}, {class: "form-input form-control center-dropdown"} %>
          <%= f.submit "Add Organization", class: "submit-input btn btn-success" %>
        <% end %>
      </li>
      <% @organizations.each do |organization| %>
        <li class="list-group-item" id="<%= organization.name.downcase.tr(" ", "-") %>">
          <h4><%= organization.name %></h4>
          <div class="btn-group btn-group-justified">
            <%= link_to "Edit Info", edit_admin_organization_path(organization), class: "btn btn-primary", role: "button" %>
            <%= link_to "Delete", admin_organization_path(organization), class: "btn btn-danger", method: :delete, role: "button" %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
