<!DOCTYPE html>
<html>
  <head>
    <title>AConnectedChicago</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% flash.each do |type, message| %>
      <div data-alert class="flash_<%= type %>">
        <%= sanitize(message) %>
      </div>
    <% end %>
    <% if current_user %>
      <%= link_to "Logout", logout_path, method: :delete %> <%= link_to "Dashboard", user_path(current_user) %>
    <% else %>
      <span> <%= link_to "Login", login_path %> or <%= link_to "Create Account", new_user_path %></span><br><br>
    <% end %>
    <%= yield %>
  </body>
</html>
